{% extends 'base.html' %}
{% block title %}Home{% endblock %} 


{% block content %} 

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Unlock a World of Flavors</h1>

        <p class="pt-4">
            Welcome to our recipe-sharing community! Here, you’ll find delicious recipes from around the world, along with a place to share your own creations. Whether you’re exploring a new cuisine or perfecting a classic, we have recipes and inspiration for every mood and moment. Let our meal generator surprise you with fresh ideas tailored to your tastes, and join a community that loves cooking as much as you do!
        </p>
    </section>
    <section>
        <div class="recipe-cont">
            {% for recipe in recipes %} 
                <div class="card m-3 mb-5" style="width: 18rem;">
                    <a href="{% url 'recipe_detail' recipe.id %}" class="img-container">
                      <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" style="height: 350px; object-fit: cover">
                      <div class="centered"><h2>{{recipe.title}}</h2></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    
</div>

{% endblock %}